<div class="post">
  <a href="tweets/new" button type="button" class="btn btn-default">投稿するにゃん</a></button>
</div></br>
  <% @randoms.each do |random| %>

  <span class="img-thumbnail">
    <%= link_to user_path(random.user.id) do %>
    <%= image_tag  random.image_url(:small).to_s %>
    </br>
    <%= image_tag random.user.image_url(:minimum).to_s, {:class =>"img-circle"} %>
    <%= random.user.cat_name %>
    <% end %>
  </span>

  <% end %></br>
  </br><div class="tweet-box">
      <% @tweets.each do |tweet|%>
      <div class="tweet-box img-thumbnail tweet-image">
        <%= link_to user_path(tweet.user.id) do %>
        <%= image_tag tweet.user.image_url(:minimum).to_s, {:class =>"img-circle"} %>
        <% end %>
        <span><%= link_to tweet.user.cat_name, user_path(tweet.user_id) %></span></br>
        <%= link_to tweet_path(tweet.id) do %>
        </br><%= image_tag tweet.image_url(:thumb).to_s %>
        <% end %>
        <div></br>
        <%= form_tag("/tweets/#{tweet.id}/comments", method: :post) do %>
        <textarea cols="67" name="text" placeholder="コメントを追加..." rows="2"></textarea>
        <input type="submit" value="SENT">
        <% end %>
        </div>
          <% if tweet.text.present? %>
          <%= link_to user_path(tweet.user.id) do %>
          <%= image_tag tweet.user.image_url(:minimum).to_s, {:class =>"img-circle"} %>
          <% end %>
          <%= link_to tweet.user.cat_name, user_path(tweet.user.id) %>
          <%= tweet.text %>
          <% end %>
        <div>
          <% if tweet.comments.present? %>
          <% tweet.comments.order(created_at: :desc).first(3).each do |comment|%>
          <%= link_to user_path(comment.user.id) do %>
          <%= image_tag comment.user.image_url(:minimum).to_s, {:class =>"img-circle"} %>
          <% end %>
          <%= link_to comment.user.cat_name, user_path(comment.user.id) %>
          <%= comment.text %></br>
          <% end %>
          <% end %>
        </br><%= link_to "全てのコメントを見る", tweet_path(tweet.id)%>
        </diV>
      </div>
     <% end %>
  </div>


<%= paginate(@tweets) %>
</div>
